/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* debug*/

.debug #main-header {
    border: solid salmon 3px;
}

.debug [class^="nav"] {
    border: lightseagreen solid 3px;
    background-color: slateblue;
    color: white;
}

.debug .navbar {
    border: solid cyan 3px;
}

.debug .hero {
    border: solid yellow 3px;
    height: 400px;
}

.debug .section,
.debug .footer {
    border: solid red 3px;
    /* padding: 10px; */
}

.debug .container {
    min-height: 400px;
    border: solid skyblue 3px;
}

.debug [class^="col"] {
    border: solid blueviolet;
    height: 400px;
}

.debug .bigPic {
    border: solid greenyellow;
    height: 400px;
}

.debug .footer .col-6, 
.debug .footer .col-3 {
    border: solid black 3px;
}

.debug .colFooter {
    padding: 30px;
    border: solid violet 3px;
    height: auto;
}

.debug .icons {
    height: 30px;
}

/* style */

/* header style */

body {
    font-family: 'Work Sans', sans-serif;
}

#main-header {
    background-color:  #255ee8;
    font-weight: 300;
    color: white;
    padding: 20px 0;
}

.button {
    padding: 11px 14px;
    border-radius: 30px;
    font-weight: 500;
    text-align: center;
}

.navbar {
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    display: flex;
    align-items: center;
}


.nav-menu .row {
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.nav-menu {
    flex-grow: 1;
    align-items: center;
}

.nav-callToAction {
    background-color: white;
    color: black;
}

/* main style */

.section {
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    
}

/* Hero */

.heroSection{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero {   
    width: 900px;
    margin: 0 auto;
    color: white;
}

.title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 40px;
}

.titleDescription {
    text-align: center;
    font-size: ;
}

.heroContainer {
    padding: 93px 0 148px;
}


.buttonMac::before{
    content: '\2193';
    color: black;
    margin-right: 5px;
}

.buttonMac {
    background-color: white;
    color: black;
    margin-right: 10px;
}

.buttonBrowser {
    color: white;
    background-color: black;
}

.buttons {
    text-align: center;
    padding-top: 70px;
}


.col60 {
    flex-basis: 60%;
}

.col40 {
    flex-basis: 40%;
}

.bkg {
    background-color: rgb(231, 231, 231);
}

#reverse {
    display: flex;
    flex-direction: row-reverse;
}

.bigPic {
    /* border: solid greenyellow; */
    flex-basis: 100%;
}

/* footer style */

.footer {
    background-color: gray;
}

 .footer .col-6 {
    
    flex-basis: calc(100%  / 6);
}

.footer .col-3 {
    flex-basis: calc(100% / 3);
    
}

.footerContainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.footerIcons {
    justify-content: space-between;
}

.containerIcons {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}