/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* debug*/

.debug #main-header {
    border: solid salmon 3px;
}

.debug [class^="nav"] {
    border: lightseagreen solid 3px;
    background-color: slateblue;
    color: white;
}

.debug .navbar {
    border: solid cyan 3px;
}

.debug .hero {
    border: solid yellow 3px;
    height: 400px;
}

.debug .section,
.debug .footer {
    border: solid red 3px;
    /* padding: 10px; */
}

.debug .container {
    min-height: 400px;
    border: solid skyblue 3px;
}

.debug [class^="col"] {
    border: solid blueviolet;
    /* height: 400px; */
}

.debug .bigPic {
    border: solid greenyellow;
    height: 400px;
}

.debug .footer .col-6, 
.debug .footer .col-3 {
    border: solid black 3px;
}

.debug .colFooter {
    padding: 30px;
    border: solid violet 3px;
    height: auto;
}

.debug .icons {
    height: 30px;
}

/* style */

/* header style */

body {
    font-family: 'Work Sans', sans-serif;
}

#main-header {
    background-color:  #255ee8;
    font-weight: 300;
    color: white;
    padding: 20px 0;
}

.button {
    padding: 11px 14px;
    border-radius: 30px;
    font-weight: 500;
    text-align: center;
}

.navbar {
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    display: flex;s
}


.nav-menu .row {
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.nav-menu {
    flex-grow: 1;
    align-items: center;
}

.nav-callToAction {
    background-color: white;
    color: black;
}

/* main style */

.section {
    padding: 80px 0;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    
}

/* Hero */

.heroSection{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero {   
    width: 900px;
    margin: 0 auto;
    color: white;
}

.title {
    font-size: 64px;
    text-align: center;
    margin-bottom: 40px;
}

.heroDescription {
    text-align: center;
    font-size: ;
}

.heroContainer {
    padding: 93px 0 148px;
}


.buttonMac::before{
    content: '\2193';
    color: black;
    margin-right: 5px;
}

.buttonMac {
    background-color: white;
    color: black;
    margin-right: 10px;
}

.buttonBrowser {
    color: white;
    background-color: black;
}

.buttons {
    text-align: center;
    padding-top: 70px;
}

/* sections */

.col60 {
    flex-basis: 60%;
}

.sectionTitle {
    font-size: 46px;
    padding-bottom: 50px;
}

.sectionDescription {
    color: black;
    font-size: 20px;
    line-height: 30px;
}

.col40 {
    flex-basis: 40%;
    padding: 0 0 0 40px;
}

.bkg {
    background-color: rgb(231, 231, 231);
}

#reverse {
    display: flex;
    flex-direction: row-reverse;
}

.bigPic {
    flex-basis: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
}

.bkgSectionTitle {
    margin-bottom: 70px;
    padding-top: 50px;
    font-size: 36px;
    background-image: url(../img/stars.svg);
    background-size: contain;
}

/* Last button before footer */

.bigPic :last-child {
    max-width: 350px;
    padding: 20px 35px;
    align-self: center;
    color: white;
    background-color: #417aff;
}

.bigPic .button::before {
    content: '\2193';
    color: white;
    margin-right: 5px;
}



.bigPic * {
    text-align: center;
}

/* footer style */

.footer {
    background-color: rgb(67, 67, 67);
}

 .footer .col-6 {
    
    flex-basis: calc(100%  / 6);
}

.footer .col-3 {
    flex-basis: calc(100% / 3);
    
}

.footerContainer {
   margin: 0 auto;
   padding: 40px 0px 10px;
   color: white;
}

.footerContainer::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #417aff;
    margin-top: 20px;
}

.footerMainTitle {
    color: #417aff;
    font-size: 40px;
}

.language::after {
    content: '\02C5';
    display: inline-block;
    vertical-align: middle;
}

.language {
    
    padding: 20px 0;
}

#flag {
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}

.socials img {
    height: 20px;
    padding-right: 10px;
}

.subtitleFooter {
    font-size: 20px;
    font-weight: 400;
    color: #417aff;
}

.col-6 li{
    padding: 5px 0;
    color: white;
    font-size: 14px;
}

.footerIcons {
    justify-content: space-between;
}

.containerIcons {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.colFooter a {
    background-color: #417aff;
    color: white;
    padding: 10px 40px;
}