/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* debug*/



.debug .hero {
    border: solid yellow 3px;
    height: 400px;
}

.debug .section,
.debug .footer {
    border: solid red 3px;
    /* padding: 10px; */
}
.debug [class^="col"] {
    border: solid blueviolet;
    height: 400px;
}

.debug .bigPic {
    border: solid greenyellow;
    height: 400px;
}

.debug .footer .col-6, 
.debug .footer .col-3 {
    border: solid black 3px;
}

.debug .colFooter {
    padding: 30px;
    border: solid violet 3px;
    height: auto;
}

.debug .icons {
    height: 30px;
}

/* style */

/* header style */
#main-header {
    border: solid salmon 3px;
}

.navbar {
    max-width: 1200px;
    margin: 0px auto;
    border: solid skyblue 3px;
    
}

.row {
    display: flex;
}

[class^="nav"] {
    border: lightseagreen solid 3px;
    background-color: slateblue;
    color: white;
}



.nav-menu {
    flex-grow: 1;
}

/* main style */

.section {
    padding: 40px 0;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    min-height: 400px;
    border: solid skyblue 3px;
    
}


.hero {   
    width: 900px;
    margin: 0 auto;
}

.heroContainer {
    padding: 30px 0;
}



.col60 {
    flex-basis: 60%;
}

.col40 {
    flex-basis: 40%;
}

.bkg {
    background-color: rgb(231, 231, 231);
}

#reverse {
    display: flex;
    flex-direction: row-reverse;
}

.bigPic {
    /* border: solid greenyellow; */
    flex-basis: 100%;
}

/* footer style */

.footer {
    background-color: gray;
}

 .footer .col-6 {
    
    flex-basis: calc(100%  / 6);
}

.footer .col-3 {
    flex-basis: calc(100% / 3);
    
}

.footerContainer {
    padding: 5px 0 15px 0;
}

.footerIcons {
    justify-content: space-between;
}

.containerIcons {
    max-width: 1200px;
    margin: 0 auto;
}